h1, h2, h3, h4, h5, h6, p
{
    text-align: center;
}

.example-one {
  border-style: solid;
  border-radius: 5px;
  display: inline-block;
  height: 1.2em;
  width: 4em;
}

a{
  flex: 1;
	text-decoration: none;
	color: black;
  padding: 3px;
}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 1.0;
}

body{
  background-image: url("imgs/wallpaper.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#conteneur{
	width: 70%;
	background-color: #293133;
	margin-left: auto;
	margin-right: auto;
  opacity: 0.9;
}

#navigationup{
	background-color: grey;
	display: flex;
	padding: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

#ongletup{
	flex: 1;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	line-height: normal;
}

#navigation{
	background-color: grey;
	display: flex;
	padding: 5px;
	padding-left: 0px;
	padding-right: 0px;
}

#onglet{
	flex: 1;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	line-height: normal;
  margin: auto;
}

#team{
	display: flex;
	padding: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

body.rick{
    background-image: url(imgs/rick.gif);
    background-repeat: repeat;
}

body.black{
	background-color: black;
}

div{
  margin-left: auto;
  margin-right: auto;
}
